.App {
  text-align: center;
}
span{
  cursor: pointer;
}

.sentences-container{
  width: 100%;
  margin: 300px auto;
  background-color: #FCFCFC;
}
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 60px;
  line-height: 60px;
  background-color: #1e88e5;
}

.word-item {
  position: relative;
  font-size: 24px;
}

.word-item:after {
  content: attr(data-mode);
  position: absolute;
  top: 24px;
  left: 2px;
  font-size: 12px;
}
