.App {
  text-align: center;
}
span{
  cursor: pointer;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@import 'bootstrap.css';



.sentences{
  width: 100%;
  margin: 20px auto;
  background-color: #FCFCFC;
}
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 60px;
  line-height: 60px;
  background-color: #1e88e5;
}